In [1]:
import os
import numpy as np
import pandas as pd
import swifter
from sklearn.model_selection import train_test_split
import utils

In [2]:
DATA_PATH = "./data"

In [5]:
full_train = utils.load_train_hdf(DATA_PATH)

In [6]:
closest_hits_features = full_train.swifter.apply(
    utils.find_closest_hit_per_station, result_type="expand", axis=1)

Pandas Apply: 100%|██████████| 5445705/5445705 [56:06<00:00, 1617.39it/s]

In [8]:
train_concat = pd.concat(
    [full_train.loc[:, utils.SIMPLE_FEATURE_COLUMNS],
     closest_hits_features], axis=1)

In [10]:
train_concat.to_hdf("data/all_train_data.hdf", "0")

/anaconda3/lib/python3.6/site-packages/tables/path.py:112: NaturalNameWarning: object name is not a valid Python identifier: '0'; it does not match the pattern ``^[a-zA-Z_][a-zA-Z0-9_]*$``; you will not be able to use natural naming to access this object; using ``getattr()`` will still work, though
  NaturalNameWarning)
/anaconda3/lib/python3.6/site-packages/pandas/io/pytables.py:279: PerformanceWarning:
your performance may suffer as PyTables will pickle object types that it cannot
map directly to c-types [inferred_type->mixed-integer,key->axis0] [items->None]

  f(store)
/anaconda3/lib/python3.6/site-packages/pandas/io/pytables.py:279: PerformanceWarning:
your performance may suffer as PyTables will pickle object types that it cannot
map directly to c-types [inferred_type->mixed-integer,key->block0_items] [items->None]

  f(store)

In [11]:
train_concat.shape

(5445705, 89)

In [13]:
train_concat.head()

,ncl[0],ncl[1],ncl[2],ncl[3],avg_cs[0],avg_cs[1],avg_cs[2],avg_cs[3],ndof,MatchedHit_TYPE[0],...,14,15,16,17,18,19,20,21,22,23
0,47,31,13,15,2.000000,1.580645,1.153846,1.133333,8,2,...,17520.826172,18729.324219,25.500000,27.50,118.0,126.0,126.278549,136.278488,146.278412,156.278351
1,92,19,11,26,2.750000,2.789474,1.363636,1.230769,8,2,...,17614.853516,18824.429688,25.500000,27.50,118.0,756.0,126.278549,136.278488,146.278412,156.278351
2,100,21,11,12,2.930000,2.428571,1.181818,1.083333,8,2,...,17598.300781,18806.351562,12.750000,13.75,59.0,63.0,63.078957,68.078926,73.078896,78.078857
3,74,27,13,20,3.067568,2.518518,1.923077,1.300000,8,2,...,17598.300781,18806.351562,12.948485,13.75,59.0,63.0,63.038589,68.078926,73.078896,78.078857
4,18,22,8,8,1.833333,1.954545,1.125000,1.750000,8,2,...,17603.021484,18811.394531,12.750000,13.75,59.0,63.0,63.078957,68.078926,73.078896,78.078857

In [3]:
test_data = pd.read_hdf("data/test_public_v2.hdf")

In [4]:
closest_hits_features = test_data.swifter.apply(
    utils.find_closest_hit_per_station, result_type="expand", axis=1)

Pandas Apply: 100%|██████████| 726095/726095 [06:17<00:00, 1921.01it/s]

In [5]:
test_concat = pd.concat(
    [test_data.loc[:, utils.SIMPLE_FEATURE_COLUMNS],
     closest_hits_features], axis=1)

In [ ]:
test_concat.to