In [2]:
import sys
sys.path.append('..')

In [3]:
import os
import numpy as np
import pandas as pd
import swifter
from sklearn.model_selection import train_test_split
import utils

In [18]:
df = pd.read_hdf("../data/test_private_v2_track_1.hdf",)

In [19]:
df.head()

,ncl[0],ncl[1],ncl[2],ncl[3],avg_cs[0],avg_cs[1],avg_cs[2],avg_cs[3],ndof,MatchedHit_TYPE[0],...,FOI_hits_Y,FOI_hits_Z,FOI_hits_DX,FOI_hits_DY,FOI_hits_DZ,FOI_hits_T,FOI_hits_DT,FOI_hits_S,PT,P
0,76,11,16,25,2.684211,2.090909,1.312500,1.120000,8,2,...,"[541.43036, 541.43036, 583.2838, 625.10657, 66...","[15406.95, 15406.95, 16614.4, 17808.152, 19017...","[6.375, 6.375, 6.875, 29.5, 31.5]","[31.479162, 31.479162, 33.979145, 36.47913, 38...","[33.613575, 33.613575, 33.622578, 33.63158, 33...","[8, 1, 4, 8, 5]","[1, -6, -1, 0, 0]","[0, 0, 1, 2, 3]",2589.074895,50268.359507
1,72,22,9,14,2.500000,2.636364,1.111111,1.142857,8,2,...,"[-893.2435, -627.6389, -893.2435, -627.6389, -...","[15399.885, 15115.839, 15399.885, 15115.839, 1...","[25.5, 25.5, 25.5, 25.5, 27.5, 118.0, 126.0, 1...","[126.27855, 126.27855, 126.27855, 126.27855, 1...","[33.95495, 33.95495, 33.95495, 33.95495, 33.99...","[6, 6, 5, 5, 7, 6, 8, 7]","[1, -3, 0, -4, 0, -1, 0, -1]","[0, 0, 0, 0, 1, 2, 3, 3]",1214.306768,9136.633410
2,59,8,8,11,2.559322,3.375000,1.875000,1.909091,8,2,...,"[1318.5292, 1422.3822, 1526.2046, 1629.8118, 1...","[15208.748, 16416.422, 17610.395, 18819.668, 1...","[12.75, 13.75, 59.0, 63.0, 63.0]","[63.078957, 68.078926, 73.078896, 78.07886, 78...","[33.727364, 33.74537, 33.763374, 33.78138, 33....","[1, 4, 5, 5, 5]","[-1, -1, 1, 0, 0]","[0, 1, 2, 3, 3]",4021.866299,46241.344045
3,49,10,15,12,1.897959,1.000000,1.466667,1.583333,8,2,...,"[-1133.8381, -1133.8381, -1224.3226, -1313.586...","[15198.017, 15198.017, 16401.89, 17594.37, 188...","[25.5, 25.5, 27.5, 118.0, 126.0]","[126.27855, 126.27855, 136.27849, 146.27841, 1...","[33.95495, 33.95495, 33.99096, 34.026966, 34.0...","[2, 8, 2, 5, 6]","[-6, 0, 0, 0, 0]","[0, 0, 1, 2, 3]",2900.460154,14855.922836
4,87,52,23,10,2.586207,2.884615,1.434783,1.300000,8,2,...,"[846.64905, 846.64905, 912.36346, 979.399, 105...","[15205.148, 15205.148, 16409.586, 17602.627, 1...","[6.375, 6.375, 6.875, 29.5, 29.5, 29.5, 29.5, ...","[31.479162, 31.479162, 33.979145, 36.47913, 36...","[33.613575, 33.613575, 33.622578, 33.63158, 33...","[4, 3, 10, 8, 8, 8, 8, 8, 8]","[3, 2, 1, 0, 0, 0, 0, -1, -1]","[0, 0, 1, 2, 2, 2, 2, 3, 3]",1915.277178,21442.937297

In [23]:
closest_hits_features = df.swifter.apply(utils.find_closest_hit_per_station, result_type="expand", axis=1)

Pandas Apply: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 1452188/1452188 [15:03<00:00, 1606.68it/s]

In [24]:
df_concat = pd.concat(
    [df.loc[:, utils.SIMPLE_FEATURE_COLUMNS],
     closest_hits_features], axis=1)

In [27]:
df_concat.to_hdf("../data/private_data_v2.hdf", "0")

/usr/local/lib/python3.6/dist-packages/tables/path.py:112: NaturalNameWarning: object name is not a valid Python identifier: '0'; it does not match the pattern ``^[a-zA-Z_][a-zA-Z0-9_]*$``; you will not be able to use natural naming to access this object; using ``getattr()`` will still work, though
  NaturalNameWarning)
/usr/local/lib/python3.6/dist-packages/pandas/io/pytables.py:279: PerformanceWarning:
your performance may suffer as PyTables will pickle object types that it cannot
map directly to c-types [inferred_type->mixed-integer,key->axis0] [items->None]

  f(store)
/usr/local/lib/python3.6/dist-packages/pandas/io/pytables.py:279: PerformanceWarning:
your performance may suffer as PyTables will pickle object types that it cannot
map directly to c-types [inferred_type->mixed-integer,key->block0_items] [items->None]

  f(store)

In [11]:
train_concat.shape

(5445705, 89)

In [26]:
df_concat.shape

(1452188, 89)

In [13]:
train_concat.head()

,ncl[0],ncl[1],ncl[2],ncl[3],avg_cs[0],avg_cs[1],avg_cs[2],avg_cs[3],ndof,MatchedHit_TYPE[0],...,14,15,16,17,18,19,20,21,22,23
0,47,31,13,15,2.000000,1.580645,1.153846,1.133333,8,2,...,17520.826172,18729.324219,25.500000,27.50,118.0,126.0,126.278549,136.278488,146.278412,156.278351
1,92,19,11,26,2.750000,2.789474,1.363636,1.230769,8,2,...,17614.853516,18824.429688,25.500000,27.50,118.0,756.0,126.278549,136.278488,146.278412,156.278351
2,100,21,11,12,2.930000,2.428571,1.181818,1.083333,8,2,...,17598.300781,18806.351562,12.750000,13.75,59.0,63.0,63.078957,68.078926,73.078896,78.078857
3,74,27,13,20,3.067568,2.518518,1.923077,1.300000,8,2,...,17598.300781,18806.351562,12.948485,13.75,59.0,63.0,63.038589,68.078926,73.078896,78.078857
4,18,22,8,8,1.833333,1.954545,1.125000,1.750000,8,2,...,17603.021484,18811.394531,12.750000,13.75,59.0,63.0,63.078957,68.078926,73.078896,78.078857

In [3]:
test_data = pd.read_hdf("data/test_public_v2.hdf")

In [4]:
closest_hits_features = test_data.swifter.apply(
    utils.find_closest_hit_per_station, result_type="expand", axis=1)

Pandas Apply: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 726095/726095 [06:17<00:00, 1921.01it/s]

In [5]:
test_concat = pd.concat(
    [test_data.loc[:, utils.SIMPLE_FEATURE_COLUMNS],
     closest_hits_features], axis=1)

In [ ]:
test_concat.to