In [1]:
import pandas as pd
import numpy as np
import swifter

In [2]:
import sys
import os
sys.path.append(os.path.abspath('..'))

In [3]:
import utils

In [4]:
stationSizes = utils.stationSizes * 1e3
padWidth = utils.stationRegionsXsize
padHeight = utils.stationRegionsYsize

In [6]:
padWidth

      M2    M3   M4   M5
R1   6.3   6.7   29   31
R2  12.5  13.5   58   62
R3  25.0  27.0  116  124
R4  50.0  54.0  231  248

In [7]:
proportions = np.array([1, 2, 3, 8])

In [16]:
sector_units_size = (proportions/padWidth).sum(axis=0)

In [17]:
stationSizes.X / sector_units_size

M2    32136.025505
M3    18645.787909
M4    57210.155799
M5    24593.333333
dtype: float64

In [20]:
stationSizes

          X       Y
M2   9600.0  8000.0
M3  10400.0  8600.0
M4  11100.0  9300.0
M5  11900.0  9900.0

In [21]:
import catboost

In [ ]:
catboost.cv()

In [24]:
np.ceil(1.0/32.0)

1.0